
/* iPads (portrait and landscape)  ----------- */
@media only screen and (max-width : 1024px){
    div.social .f1{ display:none}
    div.social .f2{ display:none}
    div.social .f3{ display:none}

    .descargas{display:none}

    #container{
        padding-top: 61px;
        overflow: auto !important;
        background-color: #861D55;
    }

    footer{
      height:58px;
    }
    .footer-content{
        width: 100%;

    }
    .footer-content ul{
        display: none;
    }
    footer .sec2{
        height: 84px ;
    }

    footer .sec2 .footer-content img{
        margin-left: 17px;
        margin-top: 20px;
        width: 77px;
    }
    .sec1 .pais{
        margin-left: 0;
        width: 20%;
        background-image: none !important;
        text-align: center;
        padding-top: 21px;
        padding-left: 0px;
    }
    .sec1 .geo{
        width: 20%;
    }
    .sec1 .map{
        width: 20%;
    }
    .sec1 .dir{
        bottom: 0;
        display: none;
        float: none;
        left: 0;
        margin: 0 auto;
        position: absolute;
        right: 0;
        z-index: -1;
        width: 100%;
    }
    .sec1 .dir input{
        margin: 0;
    }
    .sec1 .lupa{
        width: 20%;
    }
    .sec1 .filtro{
        width: 20%;
    }

    div.social{
        float: right;
        width: 206px;
    }

    header{
        height: 61px;
        top: 0;
    }
    .header-content{
        height: 61px;
        width: 100%;
        background-size: 248px 100%;
    }

    .header-content .logo{
        left: 14px;
    }
    .header-content .logo  img{
        width: 108px;
    }

    .header-content .menu{
        top: 61px;
        left: 0px;
        width: 100%;
        margin: 0;
        background-color: #9E1F64;
        padding-left: 0px;
    }

    .header-content .menu li{
        width: 100%;
        /*padding: 20px;*/
        text-align: center;
        height: 44px;
        border-top: 1px solid #941759;
    }

    .header-content .menu li a{
        width: 100%;
        display: block;
        padding: 20px;
        box-sizing: border-box;
        line-height: 2px ;
    }

    .menu-btn{
        background-image: url(../img/menu.png);
        position: absolute;
        right: 0px;
        top: 0px;
        display: block;
        max-height: 61px;
    }
    .header-content .menu {
        overflow: hidden;
        height: 0px;
    }

    .menu-pais{
        margin-left: 0px;
        width: 20%;
    }
    .menu-pais div{
        text-align: center;
        font-size: 17px;
        padding-top: 21px;
        padding-left: 0px;
    }


    .printer{
        display:none;
    }

    /* DIALOGS */
    div.detail-bg{
        display: none !important;
    }
    .detail{
        width: 100%;
        left: 0%;
        margin-left: 0;
        top: 61px;
        background-image:none;

    }
    .detail > div.d-header{
        background-image: url(../img/detail-header-mobile.png);
        background-size: 100% 103px;
        height: 103px;
    }
    .detail .tipo{
        top: 92px;
        right: 50%;
        margin-right: -32px;
    }
    .detail .cerrar{
        background-image: url(../img/close.png);
    }
    .detail .img-background{
        position: absolute;
        width: 106px;
        height: 100px;
        background-color: #fff;
        left: 50%;
        top: 77px;
        border-radius: 76px;
        margin-left: -53px;
    }

    .detail .estado{
        top: 204px;
        left: 0px;
        width: 100%;
        text-align: center;
    }
    .detail .distancia{
        top: 233px;
        left: 0px;
        width: 100%;
        text-align: center;
    }
    .detail .tel{
        top: 263px;
        left: 0px;
        width: 100%;
        text-align: center;
        font-size: 16px;
    }
    .detail .web{
        top: 282px;
        left: 0px;
        width: 100%;
        text-align: center;
    }
    .detail .linea{
        margin-top: 213px;
        position: static;
    }
    .detail .linea2{
        margin-top: 10px;
        position: static;
    }
    .detail .combustibles{
        position: static;
        margin-top: 13px;
        height: 92px;
        width: 100%;
        left: 0px;
        padding: 0px 34px;
        display: inline-block;
        text-align: center;
        vertical-align: middle;
    }
    .detail .combustibles div{
        width: 25%;
        text-align: center;
        float: none;
        display: inline-block;
        vertical-align: middle;
    }
    .detail .group div span {
        width: 90%;
    }
    .detail .group div img{
        left: 50%;
        position: relative;
        margin-left: -19px;
    }

    .detail .servicios{

        left: 0px;
        width: 100%;
        padding: 0px 0px 0px 30px;

        position: static;
        margin-top: 23px;
        overflow: hidden;

        text-align: center;
        padding-left: 0px;
    }
    .detail .servicios.group div {
        margin-right: 5%;
        margin-left: 5%;
        width: 23%;
        text-align: center;
    }




    .detail .linea3{
        display: block;
    }
    .detail .promocion{
        position: static;

    }

    .detail .comollegar{
        position: static;
        display: block;
        margin-left: 5%;
        width: 90%;
        box-sizing: border-box;
        margin-bottom: 30px;
        height: 49px;
        text-align: center;
        font-size: 17px;
        padding-top: 13px;
        background-color: #fff;
        color: #9e1f64;
    }


    /* FILTRO */
    .bloque-filtro{
        padding: 0px;
        width: 100%;
        overflow: hidden;
        position: relative;
        margin-bottom: 20px;
    }

    .bf-titulo{
        display: none;
    }

    .bf-items div{
        padding: 6px 0px;
        padding-left: 65px;
        width: 100%;
        margin-left: 0px;
        background-position: 94%;
        border-bottom: 2px solid #7e154d;
    }
    .bf-items div img{
        left: 12px;
    }

    .bf-container{

        margin-bottom: 58px;
        background-color: #861D55;
    }

    .bloque-filtro a.ok{
        margin-bottom: 18px;
        position: relative;
        margin-left:0 ;
    }

    .bloque-filtro .botonera{
        width: 280px;
        margin: 0 auto;
    }
    #googleMap{
        position: relative;
        margin-top: 0px;
    }



    /* PASOS */

    .pasos{
        left: 0px;
        top: auto;
        width: 100%;
        margin-bottom: 61px;
    }

    .sec1 .dir input{

        font-family: 'HelveticaNeueLT-Medium', Arial, sans-serif;
        color: #fff;
        font-size: 16px;

        outline: none;

        background-color: #861D55;

        height: 22px;
        padding: 20px 5%;
        width: 90%;

        border: 1px solid #79174A;


    }
    .sec1 .dir input#txDesde {
        width: 90%;
    }

    .sec1 .dir input#txHasta {
        width: 90%;
        margin: 0;
    }

    .sec1 div .tooltip {
        display: none !important;
        height: 0 !important;
        width: 0 !important;
        opacity: 0 !important;
        visibility: hidden !important;
        padding: 0 !important;
        margin: 0 !important;
    }
    .sec1 div:active .tooltip {
        display: none !important;
        height: 0 !important;
        width: 0 !important;
        opacity: 0 !important;
        visibility: hidden !important;
        padding: 0 !important;
        margin: 0 !important;
    }
}
/* Max Width 520px */
@media only screen and (max-width : 520px){

    .sec1 .dir{
        text-align: center;
        width: 100%;
    }
    .sec1 .dir input#txBusqueda{
        display: block;
        margin: 0;
        width: 90%;
        padding: 20px 5%;
    }
    .sec1 .dir input#txDesde,
    .sec1 .dir input#txHasta{
        margin: 0;
        width: 90%;
        padding: 20px 5%;
    }
}