<?xml version='1.0' encoding='utf-8'?>
<widget id="app.basso.axion" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0" xmlns:gap="http://phonegap.com/ns/1.0">
<name>AXION</name>
<description></description>
<author email="dev@cordova.apache.org" href="http://cordova.io">
    Apache Cordova Team
</author>

<gap:plugin name="org.apache.cordova.geolocation" />
<gap:plugin name="org.apache.cordova.inappbrowser" version="0.5.2" />
<gap:plugin name="org.apache.cordova.dialogs" />

    
<content src="index.html" />
<access origin="*" />

<icon src="img/marker_axion.png" />

</widget>
